.case-studies {
  display: block;
  border: 1px solid #d1d2da;
  background-color: white;
  margin-bottom: 35px;
}
.case-studies .case-image {
  background-size: cover;
  background-position: center center;
  height: 171px;
}
.case-studies .case-details {
  padding: 25px;
  width: 100%;
  text-align: center;
}
.case-studies .case-title {
  color: #30333a;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}
.case-studies .case-description {
  color: #75777e;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.97px;
}
