.show-modal{
    opacity: 1 !important;

}
.ask-a-question {
    transition: 600ms all ease;
    opacity: 0;
    background: url('img/bg-circle-overlay.jpg?format=jpg&quality=80');
    background-size: cover;
    height: auto;

    .row {
        height: 100% !important;
        min-height: 100%;
    }


    .title {
        text-shadow: 0 2px 0 rgba(53, 153, 192, 0.1);
        color: white;
        font-size: 42px;
        text-align: center;
        margin-bottom: 0;
        font-family: @font-family-alternate;
        font-weight: bold;
    }

    .description {
        text-shadow: 0 2px 0 rgba(53, 153, 192, 0.1);
        color: #ffffff;
        font-family: "Trade Gothic";
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .content {
        box-shadow: 3px 3px 0 2px rgba(53, 153, 192, 0.1);
        border-radius: 10px;
        background-color: white;
        min-height: 300px;
        padding: 30px;

        @media @desktop-up {
            padding: 60px;
        }
    }

    .success {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        i {
            margin-bottom: 15px;

            svg {
                fill: @light-green;
            }
        }

        .h2 {
            color: @light-green;
        }

        p {
            text-align: center;
        }
    }
}
