.south-north-navigation {
    display: grid;
    grid-template-areas: 'image' 'title' 'description' 'button';
    grid-template-columns: auto;
    grid-template-rows: 495px repeat(3, auto);
    grid-gap: 15px;


    @media @tablet-up {
        grid-template-areas: 'image title' 'image description' 'image button';
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 30px;
        height: 495px;
    }

    .title {
        grid-area: title;
        margin-bottom: 0px;
        align-self: flex-end;
        justify-self: start;
        font-size: 40px;
        font-weight: 300;
        font-family: @font-family-alternate;
    }

    .image {
        grid-area: image;
        background-size: cover !important;
        transition: 1s;

        @media @tablet-up {
            width: 500px;
        }

        @media @desktop-up {
            width: 685px;
        }
    }

    .description {
        grid-area: description;
        align-self: center;
        justify-self: start;
        margin-bottom: 0px;
    }

    .btn {
        grid-area: button;
        align-self: baseline;
        justify-self: start;
    }
}
