.our-solutions {
    display: flex;
    flex-wrap: wrap;

    @media @large-phone-up {
    }


    @media @tablet-up {
        flex-direction: row;
    }

    a {
        text-decoration: none;
        color: @text-color-default;
    }

    .solutions-list {
        display: block;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 25px;

        @media @large-phone-up {
            width: 50%;
        }

        em {
            display: block;
            color: @dark-aqua;

            &:before {
                margin: 0 !important;
            }
        }



        @media @tablet-up {
            width: 25%;
            border-right: 2px solid rgba(47, 159, 192, 0.2);
            padding: 15px 0 0 30px;
            margin-bottom: 0;

            &:first-child {
                padding: 15px 0 0 0;
            }

            &:last-child {
                border: none;
            }
        }

        .title {
            display: block;
            color: #3c3f46;
            font-family: @font-family-alternate;
            font-size: 26px;
            font-weight: 300;
        }

        .btn {
            display: block;
            padding: 15px 33px 15px 0;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            border-radius: 0%;
            color: @medium-blue;
            white-space: normal;
            line-height: normal;

            &:hover {
                background-color: #f5fafc;
                text-decoration: none;
            }
        }
    }
}

.btn-all-products {
    color: #1078c0 !important;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.34px;

    &:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 11px;
        background: url(img/icon-right-arrow.png);
        transition: all .3s ease-in-out;
        margin-left: 10px;
    }

    &:hover {
        text-decoration: none;
        border: 2px solid #1078c0;
        border-radius: 100px;
        padding: 14px 20px;
        transition: all .3s ease-in-out;
    }
}

.products-solution {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 30px;


    em {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        max-width: 100%;
        margin: 0 auto;
        align-self: end;
        color: @dark-aqua;
    }

    .title {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-bottom: 3px;
        line-height: normal;
        align-self: end;
        justify-self: flex-start;
        color: @text-color-default;
        font-family: @font-family-alternate;
        font-size: 24px;
        font-weight: 300;
    }

    .content {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        position: relative;
        color: @dark-gray;
        font-family: @font-family-default;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;

        .btn {
            display: block;
            padding: 15px 45px 15px 0;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            border-radius: 0%;
            color: @medium-blue;
            white-space: normal;
            line-height: normal;

            &:hover {
                background-color: #f5fafc;
                text-decoration: none;
            }
        }
    }

    .line {
        display: block;
        width: 1px;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        background: @light-blue;
        opacity: 0.5;
        margin: 0 auto;
    }

    .istimeline {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 0 auto;
        background-image: url(img/dot.svg);
        background-size: contain;
        width: 20px;
        height: 20px;
    }
}

.products-by-solution {
    .card {
        border: none;
        background: none;
    }

    .card-columns {
        column-count: 1;

        @media @tablet-up {
            column-count: 2;
        }

        @media @desktop-lg {
            column-count: 3;
        }
    }
}